body {
    background-color:wheat;
}
h1 {
    color:black;
}

a:link, a:visited {
    background-color:brown;
    color:white;
    padding: 15px 25px;
    padding-left: 15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: red;
}